body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: #f0f0f0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.game-body {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.game-body > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: black;
  border-width: 0.5px;
  font-size: 90px;
  cursor: pointer;
}

.top-left {
  border-bottom: solid;
  border-right: solid;
}

.top-center {
  border-bottom: solid;
  border-left: solid;
  border-right: solid;
}

.top-right {
  border-bottom: solid;
  border-left: solid;
}

/* Borders for middle row */
.middle-left {
  border-top: solid;
  border-right: solid;
  border-bottom: solid;
}

.middle-center {
  border:  solid;
}

.middle-right {
  border-top:  solid;
  border-left:  solid;
  border-bottom:  solid;
}

/* Borders for bottom row */
.bottom-left {
  border-top:  solid;
  border-right:  solid;
}

.bottom-center {
  border-top: solid;
  border-left: solid;
  border-right: solid;
}

.bottom-right {
  border-top: solid;
  border-left: solid;
}

.score-box {
  display: flex;
  justify-content: space-between;
  align-items: left;
  font-size: 20px;
  margin-top: 20px;
  padding: 20px;
}

.score-box div {
  margin: 10px;
}

.p1-name-input, .p2-name-input {
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  background-color: #f7f7f7;
  border: 1px solid black;
}

.p1-name, .p2-name {
  font-weight: 300;
  font-size: 40px;
}

.player-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
}

.p1-score, .p2-score {
  font-weight: 300;
  font-size: 40px;
}

.separator {
  margin: 10px;
  border: 2px solid black;
}

.overlay {
  justify-content: center;
  align-items: center;
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  flex-direction: column;
}

.overlay-text,
.overlay-text2 {
  color: white;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
}

.overlay-text2 {
  font-size: 30px;
}